
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 50%; }

    .geocoder {
        position: absolute;
        z-index: 1;
        width: 50%;
        left: 8%;
        top: 10px;
    }
    .mapboxgl-ctrl-geocoder {
        min-width: 100%;
    }
    #map {
        margin: 60px;

    }

    #menu {
        background: #FFFFFF;
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
    }

    #menu a {
        font-size: 13px;
        color: #ffff;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    #menu a:last-child {
        border: none;
    }

    #menu a:hover {
        background-color: #DCDCDC;
        color: #DCDCDC;
    }

    #menu a.active {
        background-color: #DCDCDC;
        color: #ffffff;
    }

    #menu a.active:hover {
        background: #ffffff;
    }
